@page "{handler?}"
@model IndexModel

@{
    ViewData["Title"] = "Movies";
}

<div id="content">
    <div class="container-fluid">
        <div class="card shadow mb-4">

            <div class="card-body">

                <h3>
                    Search Movies
                </h3>
                <input class="form-control" type="search"
                       name="searchText" placeholder="Begin Typing To Search Movies..."
                       hx-post="/search"
                       hx-trigger="keyup[target.value.length > 2] changed delay:500ms, search"
                       hx-target="#search-results"
                       hx-indicator=".htmx-indicator" hx-headers='{"RequestVerificationToken": "@Model.RequestToken"}' />

                 <div id="posterImage"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Type</th>

                    </tr>
                    </thead>
                    <tbody id="search-results">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


